#pricipal {
  background-color: rgb(236, 232, 232);
  margin-bottom: 1rem;
}

.content {
  display: flex;
  align-items: initial;
  justify-content: space-around;
}

.card {
  width: 25%;
  top: 0;
  margin-bottom: 2rem;
}

.card button {
  width: 100%;
}