<mat-card id="pricipal">
  <mat-card-header>
    <mat-card-title>Londrina</mat-card-title>
    <mat-card-subtitle>Londrina (pronúncia no IPA: [lõˈdɾĩnɐ]) é um município brasileiro localizado no estado do Paraná,
      na Região Sul do Brasil, distando 381 km da capital paranaense, Curitiba. Sua população, conforme estimativas do
      IBGE de 2020, era de 575 377[4] habitantes, sendo a segunda cidade mais populosa do estado e a quarta da Região
      Sul, depois da capital estadual, Curitiba, de Porto Alegre e Joinville. Importante polo de desenvolvimento
      estadual e regional, Londrina é um importante eixo que liga o Sul ao Sudeste do país, sendo um importante centro
      urbano, econômico, industrial, financeiro, administrativo e cultural do norte do Paraná.</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="content">

  <mat-card class="card mat-elevation-z8">
    <img mat-card-image src="assets/img/igapo.jpg" alt="Lago igapo">
    <mat-card-title>Lago Igapó</mat-card-title>
    <mat-card-content>
      <p>
        O lago Igapó é um lago criado em Londrina, no estado brasileiro do Paraná, em 10 de dezembro de 1959, dia do
        Jubileu de Prata da cidade, através do represamento do Ribeirão Cambezinho, na gestão de Antônio Sobrinho e
        coordenado pelo engenheiro Cássio Bittencourt Macedo como uma solução para a questão da baixa umidade do ar
        e o problema da drenagem, dificultada por uma barragem natural de pedra. Inicialmente pensou-se em dinamitar
        a barragem, mas prevaleceu a ideia de formar um lago.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Saiba mais</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card mat-elevation-z8">
    <img mat-card-image src="assets/img/igapo.jpg" alt="Lago igapo">
    <mat-card-title>Jardim Botânico</mat-card-title>
    <mat-card-content>
      <p>
        O Jardim Botânico de Londrina é uma das mais importantes unidades de pesquisa e conservação de espécies
        nativas e exóticas no Paraná é um espaço voltado à proteção e cultivo de espécies silvestres raras,
        ameaçadas de extinção. Com mais de um milhão de metros quadrados de mata nativa, nascentes e rios (parte da
        bacia do Ribeirão Cafezal) manancial de abastecimento de Londrina o Jardim Botânico de Londrina foi criado
        em março de 2006, pela Secretaria de Estado do Meio Ambiente.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Saiba mais</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card mat-elevation-z8">
    <img mat-card-image src="assets/img/igapo.jpg" alt="Lago igapo">
    <mat-card-title>Museu Histórico</mat-card-title>
    <mat-card-content>
      <p>
        O Museu Histórico de Londrina Padre Carlos Weiss foi inaugurado no dia 18 de setembro de 1970, na antiga
        Faculdade de Filosofia, Ciências e Letras de Londrina. A partir de 1974, o museu é anexado à UEL como órgão
        suplementar, estando vinculado ao Centro de Letras e Ciências Humanas da universidade. Em 10 de dezembro de
        1986 o museu passa a ocupar o prédio que outrora pertencia à segunda estação ferroviária de Londrina, cedido
        pela Prefeitura. O edifício do hoje Museu Histórico apresenta linhas arquitetônicas caracteristicamente
        ecléticas.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Saiba mais</button>
    </mat-card-actions>
  </mat-card>

</div>

<table class="example-table mat-elevation-z8" mat-table recycleRows [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="inauguracao">
    <th mat-header-cell *matHeaderCellDef> Inauguração </th>
    <td mat-cell *matCellDef="let element"> {{element.inauguracao}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="endereco">
    <th mat-header-cell *matHeaderCellDef> Endereco </th>
    <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>